ul {
  display: flex;
  flex-wrap: wrap;
}

li {
  list-style: none;
  margin: 10px;
}

h1, h2 {
  display: flex;
  justify-content: center;
}
.fighterCard {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  border-radius: 10px;
  overflow: hidden;
  align-items: center;
}

.addToSquad, .removeFromSquad {
  display: flex;
  margin: 0.8em 0 0.5em 0;
}

button:hover {
  background-color: rgba(137, 43, 226, 0.334);
}


img {
  max-width: 150px;
  margin: 5px;
}

.fighterName {
  font-size: 1.2em;
  font-weight: 700;
  color: darkgrey
}

.myTeamEmpty {
  display: flex;
  justify-content: center;
  min-height: 300px;

}